<!-- nav bar -->
  <nav>
     {{#each categories}}
     <a href="/category/{{name}}">{{name}}</a>
     {{/each}}
    <a style="background-color: #ffd740" class="btn-floating btn-large waves-effect waves-light right pulse z-depth-5" href="/cart">
        <i class="tiny material-icons black-text">shopping_cart</i>
    </a>
  </nav>

<h1 id="toilet-description-head">{{category}}</h1>

<p id="toilet-description-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi neque, facilis
   tempore quasi.</p>

<div class="row" id="first-toilet-row">
   {{#each products}}
   <div id="col-md-3" class="rowOneDiv product">
      <h3 class="item-txt">{{dataValues.productName}}</h3>
      <div class="card" style="width: 18rem;">
         <img src="/assets/{{imagePath}}.jpg" class="card-img-top" alt="...">
         <div class="card-body">
            <p class="card-text">{{dataValues.description}}</p>
            <p id="price">${{dataValues.price}}</p>
            <button type="button" class="btn btn-primary btn-decorcation btn-item" id="beefJerky-btn">
               <i class="material-icons left">shopping_cart</i>add to cart
            </button>
         </div>
      </div>
   </div>
   {{/each}}
</div>

<script src="/public/js/category.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>